[tool.poetry]
name = "sign_language_translator"
version = "0.6.3"
description = "Translate between spoken/text languages and sign language videos using AI."
authors = ["Mudassar Iqbal <mdsriqb@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
packages = [{include = "sign_language_translator"}]
repository = "https://github.com/sign-language-translator/sign-language-translator"
keywords = ["sign-language", "sign-language-translation", "nlp", "computer-vision", "deep-learning", "ai", "translation", "translator", "sign-language-translator", "rule-based"]

[tool.poetry.dependencies]
python = ">=3.9,<3.13"
matplotlib = "^3.7.2"
mediapipe = "0.10.3"
numpy = "^1.25.1"
torch = ">=2.0.0,<2.0.1 || >2.0.1"
beautifulsoup4 = "^4.12.2"
deep-translator = "^1.11.4"
opencv-contrib-python = "^4.8.0.74"
tqdm = "^4.65.0"
pyyaml = "^6.0"
click = "^8.1.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = "-vv "
filterwarnings = [
    "ignore::DeprecationWarning",
]
testpaths = [
    "tests",
]

[tool.isort]
profile = "black"

[tool.poetry.scripts]
slt = "sign_language_translator.cli:slt"